#footer {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.7) 0,
    rgba(243, 112, 85, 0.7) 15%,
    rgba(239, 78, 123, 0.7) 30%,
    rgba(161, 102, 171, 0.7) 44%,
    rgba(80, 115, 184, 0.7) 58%,
    rgba(16, 152, 173, 0.7) 72%,
    rgba(7, 179, 155, 0.7) 86%,
    rgba(109, 186, 130, 0.7) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.7) 0,
    rgba(243, 112, 85, 0.7) 15%,
    rgba(239, 78, 123, 0.7) 30%,
    rgba(161, 102, 171, 0.7) 44%,
    rgba(80, 115, 184, 0.7) 58%,
    rgba(16, 152, 173, 0.7) 72%,
    rgba(7, 179, 155, 0.7) 86%,
    rgba(109, 186, 130, 0.7) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.7) 0,
    rgba(243, 112, 85, 0.7) 15%,
    rgba(239, 78, 123, 0.7) 30%,
    rgba(161, 102, 171, 0.7) 44%,
    rgba(80, 115, 184, 0.7) 58%,
    rgba(16, 152, 173, 0.7) 72%,
    rgba(7, 179, 155, 0.7) 86%,
    rgba(109, 186, 130, 0.7) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.7) 0,
    rgba(243, 112, 85, 0.7) 15%,
    rgba(239, 78, 123, 0.7) 30%,
    rgba(161, 102, 171, 0.7) 44%,
    rgba(80, 115, 184, 0.7) 58%,
    rgba(16, 152, 173, 0.7) 72%,
    rgba(7, 179, 155, 0.7) 86%,
    rgba(109, 186, 130, 0.7) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.7) 0,
    rgba(243, 112, 85, 0.7) 15%,
    rgba(239, 78, 123, 0.7) 30%,
    rgba(161, 102, 171, 0.7) 44%,
    rgba(80, 115, 184, 0.7) 58%,
    rgba(16, 152, 173, 0.7) 72%,
    rgba(7, 179, 155, 0.7) 86%,
    rgba(109, 186, 130, 0.7) 100%
  );
}

  /* 文章页背景 */
.layout > div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
      background: linear-gradient(
        102.7deg,
        #fddaff 8.2%,
        #dfadfc 19.6%,
        #adcdfc 36.8%,
        #adfcf4 73.2%,
        #caf8d0 90.9%
      );
    }

